@media (max-width: 615px) {
    .logo-wrapper img {
        max-height: 230 px;
        position: relative;
        text-align: center;
        margin-left: 40 px;
        margin-right: 40 px;
    }
    .search-wrapper {
        width: 300px;
    }
}